body {
    background-color: #E5AB0F;
}

h1 {
    font-family: 'Raleway Dots', cursive;
    text-align: center;
}

.menu {
    text-align: right;
    display: flex;
    justify-content: flex-start;
}

.menu__link {
    display: block;
    padding: 0.5rem 2rem;
    color: rgb(36, 35, 35);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}
.menu__link:hover, .menu__link.--active {
    color: rgb(225, 228, 180);
    font-weight: bold;
    top: 0;
    left: 0;
}


.menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    padding: 1rem 2rem;
    background-color: #4DA08F;
    border-radius: 20px;
    margin: 0 0 1rem 0;
    min-width: 300px;
    justify-items: center;

}

.menu__item {
    display: block;
}


