body {
  background-color: #2e2b2bd7;
}

h1 {
  font-family: "Raleway Dots", cursive;
  text-align: center;
}

.main {
  font-family: "Raleway", sans-serif;
}

.menu {
  text-align: right;
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: block;
  padding: 0.5rem 2rem;
  color: #0e0e0e;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: #242323;
}

.menu__link:hover,
.menu__link.--active {
  font-weight: bold;
  top: 0;
  left: 0;
  color: #e1e4b4;
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #4DA08F;
  border-radius: 20px;
  margin: 0 0 1rem 0;
  min-width: 300px;
  justify-items: center;
}

.menu__item {
  display: block;
}

.cp {
  display: flex;
}

.module {
  display: grid;
  grid-template-rows: 2% 1fr 2% 1fr;
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-template-areas: "brand . bg ." "cp-brand cp-brand cp-bg cp-bg" "btns . func ." "cp-btns cp-btns cp-func cp-func";
}

.title__brand {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: brand;
}

.color-preview__brand {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cp-brand;
}

.title__bg {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: bg;
}

.color-preview__bg {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: cp-bg;
}

.title__btns {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: btns;
}

.color-preview__btns {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cp-btns;
}

.title__func {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: func;
}

.color-preview__func {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: cp-func;
}

.block {
  width: 200px;
  height: 100px;
}

.teal {
  background-color: teal;
}

.deep-yellow {
  background-color: #eaa900;
}

.dark-blue {
  background-color: #004661;
}

.light-yellow {
  background-color: #f2f5b4;
}

.washed-blue {
  background-color: #375764;
}

.light-grey {
  background-color: #d1dce7;
}

.light-green {
  background-color: #b6fbb7;
}

.dark-green {
  background-color: #004239;
}

h3 {
  margin: 0;
}

.pop-up__its-on {
  background-color: #00AD93;
  height: 300px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #E5AB0F;
}