/* 
font-family: 'Fjalla One', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Roboto', sans-serif;
*/
body {
  background-color: #F1D9C0;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.menu {
  text-align: right;
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: block;
  padding: 0.5rem 2rem;
  color: #0e0e0e;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: #242323;
}

.menu__link:hover,
.menu__link.--active {
  font-weight: bold;
  top: 0;
  left: 0;
  -webkit-text-decoration: underline #242323;
          text-decoration: underline #242323;
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  padding: 1rem 2rem;
  margin: 0 0 1rem 0;
  min-width: 300px;
  justify-items: center;
  margin: 0;
}

.menu__item {
  display: block;
}

ul {
  list-style-type: none;
}

.colorlist {
  padding-left: 3px;
}

/*
.cp {
  display: flex;
}
#colors {
  display: grid;
  grid-template-rows: 2% 1fr 2% 1fr;
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-template-areas:
    "brand . bg ."
    "cp-brand cp-brand cp-bg cp-bg"
    "btns . func ."
    "cp-btns cp-btns cp-func cp-func";
}
.title__brand {
  grid-area: brand;
}
.color-preview__brand {
  grid-area: cp-brand;
}
.title__bg {
  grid-area: bg;
}
.color-preview__bg {
  grid-area: cp-bg;
}
.title__btns {
  grid-area: btns;
}
.color-preview__btns {
  grid-area: cp-btns;
}
.title__func {
  grid-area: func;
}
.color-preview__func {
  grid-area: cp-func;
}

.block {
  width: 200px;
  height: 100px;
}
.teal {
  background-color: #079c84;
}
.deep-yellow {
  background-color: #eaa900;
}
.dark-blue {
  background-color: #004661;
}
.light-yellow {
  background-color: #f2f5b4;
}
.washed-blue {
  background-color: #375764;
}
.light-grey {
  background-color: #d1dce7;
}
.light-green {
  background-color: #b6fbb7;
}
.dark-green {
  background-color: #004239;
}
h3 {
  margin: 0;
}

// BUTTONS STYLING----------------------------
.button-preview {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.show-forecast {
  width: 180px;
  height: 35px;
  border-radius: 10px;
  background: #375764;
  color: bisque;
}
.its-on {
  background-color: #079c84;
  color: bisque;
  height: 100px;
  width: 200px;
  border-radius: 0 25px 25px 0;
  border: #eaa900;
  font-size: 100%;
}
.somewhere-else {
  background-color: #004239;
  color: bisque;
  height: 100px;
  width: 200px;
  border-radius: 25px 0 0 25px;
  border: #eaa900;
}
.back {
  height: 20px;
  width: 20px;
}
.exit {
  height: 20px;
  width: 20px;
}
.pop-up__its-on {
  background-color: #00ad93;
  height: 300px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #e5ab0f;
}

.popupheader {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
}

#pop-ups {
  font-family: "Roboto", sans-serif;
}
*/