@use 'modules' as *;

@use 'modules' as *;

body {
  background: #15465f;
}

/*Locationscreen1 */

.bodylocationscreen {
  background: #f4f1b7;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.maincard {
  position: fixed;
  left: -300px;
}

.change {
  left: 0;
}

.maincard__secondtext {
}
