/* Remember to add new modules here:
    @forward 'module_name';
*/
body {
  background: #15465F;
}

.bodyloadingscreen {
  background: #F4F1B7;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}