/* Remember to add new modules here:
    @forward 'module_name';
*/
body {
  background: #15465F;
}

/*Locationscreen1 */
.bodylocationscreen {
  background: #F4F1B7;
}

.locationscreen-button {
  background-color: #396257;
  width: 200px;
  height: 80px;
  color: #F4F1B7;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}