/* Remember to add new modules here:
    @forward 'module_name';
*/
body {
  background: #15465f;
}

.cityselector {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  align-items: center;
  color: #e2f2bd;
  font-size: 70%;
}

.cityselector__title {
  margin: 10px;
}

.citySelector__input {
  width: 150px;
  height: 35px;
  border-radius: 12px;
  background-color: #64b5a3;
  color: #30332b;
  font-family: "Fjalla One", sans-serif;
}

.weatherDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e2f2bd;
  font-family: "Raleway Dots", cursive;
}

.maincard {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -300px;
  background-color: pink;
  width: 90vw;
  height: 65%;
  margin-top: 15px;
  border-radius: 15px;
  font-family: "Fjalla One", sans-serif;
  font-size: 150%;
}

.forecast-btn {
  width: 150px;
  height: 35px;
  border-radius: 12px;
}

.change {
  left: 5%;
}

.maincard__secondtext {
  font-size: larger;
}

/* Loadingpage */
.bodyloadingscreen {
  background-image: url(img/Background-loadingpage.png);
}

.loadingscreen__img {
  /* Safari */
  animation: spin 8s linear infinite;
  position: fixed;
  top: -100%;
  right: -100%;
  left: -100%;
  bottom: -100%;
  margin: auto;
  z-index: 0;
  width: 300px;
  opacity: 0.8;
}

/* Safari */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}