/* Remember to add new modules here:
    @forward 'module_name';
*/
body {
  background: #15465f;
}

/*Locationscreen1 */
.bodylocationscreen {
  background: #f4f1b7;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.pop-up-change {
  width: 300px;
  height: 500px;
  background-color: blue;
}

.maincard {
  display: none;
}