@use 'modules' as *;

@use 'modules' as *;



body {
    background: #15465F;
}

/*Locationscreen1 */

.bodylocationscreen {
    background: #F4F1B7;
}

a{
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
  }
  